* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
:root {
  font-size: 1.2rem;
}
p {
  font-weight: bold;
  margin: 10 10;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}
#go-site-btn{
  width: 150px;
}
input[type='text'] {
  text-align: left;
  font-size: 16px;
  min-width: 350px;
  min-height: 35px;
}
label {
  width: 100px;
  display: inline-block;
  margin: 10 10;
  height: 30px;
  text-align: center;
}
#wdata span {
  display: inline-block;
  width: 140px;
  height: 30px;
  border: 2px solid blue;
  font-size: 16px;
  padding: 5px;
}
#weather-map {
  max-width: 700px;
  height: 500px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#weather-map > #city-name-block,
#city-id-block {
  border: 2px solid green;
  margin: auto;
  width: 500px;
  height: 70px;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#city-name-block span,
#city-id-block span {
  display: flex;
  flex-direction: column;
  height: 15px;
  font-size: 14px;
  text-align: left;
}
#weather-map > #rbtn,
#wdata {
  border: 2px solid blue;
  margin: auto;
  width: 500px;
  height: 70px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
#weather-map > .btn {
  margin: auto;
  width: 500px;
  height: 70px;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
